@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Escuela Tech GTO</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Biemvenido a Escuela Tech GTO</h2>
        <p>
            En Escuela Tech GTO contamos con varios cursos y materias
            para tu formacion profesional
            / .NET / ANGULAR / REACT /.
        </p>
    </div>

</div>